<div class="container">
  <div class="row explain">
    会員登録をして、おすすめ観光地を投稿しましょう！
  </div>
  <div class="row">
    <div class="col-md-6">
      人気観光地のポスト一覧
    </div>
    <div class="col-md-6">
      新着ポスト一覧
    </div>
  </div>
</div>