<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 text-center user_profile">
      <%= render 'shared/user_profile' %>
    </div>
    <div class="col-md-4 offset-md-2">
      <%= render 'shared/article_form', title: '記事編集', button_string: '更新する' %>
    </div>
  </div>
</div>