<div class="container-fluid">
  <% if session[:for_article_show] == 0 %>
    <div class="row">
      <span class="explain">
        好きなスイーツについて投稿、共有しましょう！
      </span>
    </div>
  <% end %>
  <div class="row">
    <% if session[:for_article_show] == 0 %> 
      <div class="col-md-2">
        <%= render 'shared/category' %>
      </div>
    <% else %>
      <div class="col-md-2 text-center user_profile">
        <%= render 'shared/article_user_profile' %>
      </div>
    <% end %>
    <div class="col-md-6 offset-md-1">
      <h2 class="text-center">記事詳細</h2>
      <%= render @article %>
    </div>
  </div>
</div>