<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 text-center user_profile">
      <%= render 'shared/article_user_profile' %>
    </div>
    <div class="col-md-6 offset-md-1">
      <%= render 'shared/article_detail' %>
    </div>
  </div>
</div>