<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 text-center user_profile">
      <%= render 'shared/article_user_profile' %>
    </div>
    <div class="col-md-6 offset-md-1">
      <h2 class="text-center">作成記事</h2>
      <%= render @article %>
    </div>
    <div class="col-md-3">
      <p class="text-center">空白列（仮）</p>
    </div>
  </div>
</div>