<li>
  <div class="follow whole-link whole-link-article">
    <div class="row">
      <div class="col-5 follow-image">
        <span class="upper-link">
          <%= link_to image_tag(image(user), alt: 'User_image', class:'user_image', id:'user-image'), user %>
        </span>
      </div>
      <div class="col-7 user-name">
        <p class="upper-link hoge"><%= link_to user.name, user %></p>
      </div>
      <%= link_to '', user, class: 'link-area' %>
    </div>
  </div>
</li>