<div class="container-fluid">
  <div class="row">
    <div class="d-none d-lg-block col">
      <h2 class="text-center">アカウント削除</h2>
    </div>
  </div>
  <div class="row" id="article-new">
    <div class="col-lg-3 text-center user_profile">
      <div class="fixed-user-function">
        <%= render 'shared/user_profile' %>
      </div>
    </div>
    <div class="d-lg-none col-12">
      <h2 class="text-center">アカウント削除</h2>
    </div>
    <div class="col-12 col-lg-4 offset-lg-1">
      <div class="user-deactivate">
        <p>注意</p>
        <p>
          アカウントが削除されると、今までに投稿した記事も全て削除されます。
        </p>
        <%= link_to '削除', user_path(@user), method: :delete, class:"btn btn-danger" %>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-3">
    </div>
  </div>
</div>