<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 class="text-center">通知一覧</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-center user_profile">
      <div class="fixed-sidebar">
        <%= render 'shared/user_profile' %>
      </div>
    </div>
    <div class="col-md-6 offset-md-1 text-center">
      <%= render @likes %>
    </div>
  </div>
</div>
<script>
  window.addEventListener("popstate", function() {
  window.location.reload();
});
</script>