<div class="container-fluid">
  <div class="row">
    <div class="d-none d-lg-block col">
      <h2 class="text-center">ストック記事一覧</h2>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-lg-3 text-center user_profile">
      <div class="fixed-user-function">
        <%= render 'shared/user_profile' %>
      </div>
    </div>
    <div class="d-lg-none col-12">
      <h2 class="text-center">ストック記事一覧</h2>
    </div>
    <div class="col-12 col-lg-6">
      <div class="articles">
        <%= render @articles %>
      </div>
      <div class="pagination, data-turbolinks="false"">
        <%= paginate @articles %>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-3">
    </div>
  </div>
</div>