<h2 class="text-center">記事詳細</h2>
<div class="article">
  <ul>
    <%= render @article %>
  </ul>
</div>
<h5 style="margin-top: 10px;">コメント一覧</h5>
<div class="comments">
  <ul>
    <%= render @comments %>
  </ul>
</div>