/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";

/** htmlタグ **/
html{
    height: 100%;
}

body{
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    height: 100%;
    background-color: #FFEEFF;
}

h2{
    padding: 3px 0;
}

/* ドット(・)消し */
li{
    list-style: none;
}

/* btn-light の色設定変更 */
.btn-light {
    background: gainsboro;
    color: black;
}

.btn-light:hover, .btn-light:focus, 
.btn-light:active, .btn-light:active:focus, .btn-light:active:hover, .btn-light:active.focus,
.btn-light.active, .btn-light.active:focus, .btn-light.active:hover, .btn-light.active.focus,
.open > .dropdown-toggle.btn-light, 
.open > .dropdown-toggle.btn-light:hover,
.open > .dropdown-toggle.btn-light:focus, 
.open > .dropdown-toggle.btn-light.focus,
.btn-light.disabled:hover, .btn-light[disabled]:hover, fieldset[disabled] .btn-light:hover,
.btn-light.disabled:focus, .btn-light[disabled]:focus, fieldset[disabled] .btn-light:focus,
.btn-light.disabled.focus, .btn-light[disabled].focus, fieldset[disabled] .btn-light.focus {
    background: lightgray;
    color: black;
}

.btn-light.outline {
    border: 3px solid gainsboro;
    color: black;
}


/* btn-outline-primary の色設定変更 */

.btn-outline-primary,
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
  border-color: #007bff;
}

/* focusされた時の枠線の色 */
.btn-outline-primary:focus, .btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0px;
}

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）*/
.btn-outline-primary:hover {
  background: rgba(0,255,255,0.15);
  color: #007bff;
  border-color: #007bff;
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #007bff;
  background-color: transparent;
  border-color: #007bff;
}


/* btn-primary-follow の色設定変更 */

.btn-primary-follow,
.btn-primary-follow.disabled, .btn-primary-follow:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* focusされた時の枠線の色 */
.btn-primary-follow:focus, .btn-primary-follow.focus,
.btn-primary-follow:not(:disabled):not(.disabled):active:focus, .btn-primary-follow:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary-follow.dropdown-toggle:focus {
  box-shadow: 0 0 0 0px;
}

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）*/
.btn-primary-follow:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-primary-follow:not(:disabled):not(.disabled):active, .btn-primary-follow:not(:disabled):not(.disabled).active,
.show > .btn-primary-follow.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

/* btn-twitter の色設定変更 */

.btn-twitter,
.btn-twitter.disabled, .btn-twitter:disabled {
  color: #fff;
  background-color: #00bfff;
  border-color: #00bfff;
}

/* focusされた時の枠線の色 */
.btn-twitter:focus, .btn-twitter.focus,
.btn-twitter:not(:disabled):not(.disabled):active:focus, .btn-twitter:not(:disabled):not(.disabled).active:focus,
.show > .btn-twitter.dropdown-toggle:focus {
  box-shadow: 0 0 0 0px;
}

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）*/
.btn-twitter:hover {
  color: #fff;
  background-color: #00afff;
  border-color: #00afff;
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-twitter:not(:disabled):not(.disabled):active, .btn-twitter:not(:disabled):not(.disabled).active,
.show > .btn-twitter.dropdown-toggle {
  color: #fff;
  background-color: #00afff;
  border-color: #00afff;
}