@import "bootstrap";

.explain{
    padding-top: 10px;
    padding-bottom: 20px;
}

/** ナビゲーションバー **/
.navbar{
    height: 51.5px;
}

/** フラッシュメッセージ **/
.alert{
    margin-bottom: 0px;
    text-align: center;
}

/** ユーザープロフィール **/
.user_profile{
    .btn-primary{
        margin-bottom: 10px;
    }
    #user_image{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-position: center center;
    border: 2px solid black;
    margin: 10px 0;
    }
}

.image-label{
    display: block;
}

/** ログインページ **/
/* チェックボックス */
.cookie_check{
    margin-bottom: 15px;
}

.form-check{
    padding-left: 0px;
}

.checkbox {
    span {
        margin-left: 15px;
    }
}

/** 記事投稿フォーム **/
#new_article{
    padding: 5px 10px;
}