@import "bootstrap";

.explain{
    padding-top: 10px;
    padding-bottom: 20px;
}

/** ナビゲーションバー **/
.navbar{
    height: 51.5px;
}

/** フラッシュメッセージ **/
.alert{
    text-align: center;
}

/** ユーザーページ **/
#user_image{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-position: center center;
    border: 2px solid black;
    margin: 10px 0;
}

/* ユーザープロフィール上のボタン */
.user_profile{
    .btn-primary{
        margin-bottom: 10px;
    }
}

/** ログインページ **/
/* チェックボックス */
.cookie_check{
    margin-bottom: 15px;
}

.form-check{
    padding-left: 0px;
}

.checkbox {
    span {
        margin-left: 15px;
    }
}