@import "bootstrap";
html{
    height: 100%;
}

body{
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    height: 100%;
    background-color: #FFEEFF;
}

.main{
    padding-top: 51.5px; /* 51.5px...ナビゲーションバーのheight */
    color: #888888;
}

/** 全体リンク化 **/
.whole-link{
    position: relative;
    display: block;
    margin: 0 auto;
    &:hover{
        opacity: 0.5;
        background-color: #EEEEEE;
    }
}

.whole-link a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

/** ホーム画面 **/

.theme-bg{
    width: 100%;
    height: 300px;
    background-image: image-url("sweet.jpeg");
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-position: center center;
    background-size: 100% auto;
}

.theme{
    display: flex;
	justify-content: center;
	color: #0099FF;
	font-size: 2.0rem;
	font-weight: bold;
	line-height: 300px;
}

.category{
    display: inline-block;
    margin-bottom: 20px;
    padding-left: 40px;
}

.genre_list{
    display: inline-block;
    height: 40px;
}

/* 表示順切替ボタン */
#naviParent{
    padding-top: 20px;
    padding-bottom: 20px;
}

.fixed_naviParent{
    margin-bottom: 42px; /* 42px...表示順切替ボタンのheight */
}

.fixed_button {
    background-color: #FFEEFF;
    position: fixed;
    top: 51.5px; /* 51.5px...ナビゲーションバーのheight */
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1;
}

.fixed_sidebar {
    position: fixed;
    top: 133.5px; /* 133.5px...ナビゲーションバー+padding含めた表示順切替ボタンのheight */
    z-index: 1;
}

/* ヘッダー */
.header-item{
    text-decoration: underline;
}

/** 記事一覧 **/
.articles ul,
.comments ul{
    padding-left: 0px;
}

/** col padding 0 **/
.no_padding{
    padding: 0px;
}

/** ナビゲーションバー **/
.navbar{
    height: 51.5px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

/** フラッシュメッセージ **/
.alert{
    margin-bottom: 0px;
    text-align: center;
}

/** イメージ画像 **/
.user_image{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-position: center center;
    border: 2px solid black;
    margin: 10px 0;
    }

/** ユーザープロフィール **/
.user_profile{
    padding: 0px;
    .btn-primary{
        margin-bottom: 10px;
    }
}

.image-label{
    display: block;
}

.number_of_notice{
    width: 100px;
    height: 100px;
}

/** ログインページ **/
/* チェックボックス */
.cookie_check{
    margin-bottom: 15px;
}

.form-check{
    padding-left: 0px;
}

.checkbox {
    span {
        margin-left: 15px;
    }
}

/* テストユーザーログインボタン */
.test-user-button{
    &:hover{
        color: white;
        text-decoration: none;
    }
    color: white;
}

/** 記事投稿フォーム **/
.article-form{
    padding: 5px 10px;
}

/** 記事詳細ページ */
.title{
    padding-top: 51.5px;
}

/** 記事内容 **/
.article{
    background-color: #FFF5EE;
    border-bottom: solid 4px #DDDDDD;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.sweet_name{
    padding: 10px 0;
}

.user{
    font-size: 1.2rem;
}

.sweet_image{
    display: block;
    width: 250px;
    height: 200px;
    margin: 5px 0px;
    background-position: center center;
}

.content{
    display: block;
    margin-top: 1px;
    padding-top: 1px;
    padding-bottom: 3px;
}

div.content{
    margin-right: 25px;
    // padding-bottom: 10px;
}

.timestamp{
    margin-left: 20px;
    font-size: 0.9rem;
    color: gray;
}

.stock-link{
    padding-left: 20px;
}

/* コメント内容 */
.comment{
    background-color: #FAFAFA;
    border-bottom: solid 4px #DDDDDD;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.comment-content{
    margin: 5px 0;
    padding-right: 20px;
}

.comment-delete-button{
    padding-right: 25px;
}

/* ボタン共通 */
.flex{
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
}

.icon-big{
    font-size: 1.2em;
}


/* ストックボタン */
.function-button{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* いいねボタン */
.liked{
    color: hotpink;
    &:hover{
        color: hotpink;
    }
}

/* 記事編集ボタン */
.edit-link{
    margin: auto 0 auto 20px;
}

/* 記事削除ボタン */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 100;
}
.popup_inner {
  position: absolute;
  left: 36%;
  right: 36%;
  top: 35%;
  bottom: 35%;
  margin: auto;
  padding: 10px 5px;
  background-color: white;
  z-index: 100;
  p{
      padding-top: 15px;
  }
}

.modal-button{
    display: inline-flex;
    justify-content: space-between;
    width: 65%;
    padding-top: 10px;
}

/* ダミーボタン */
/* current_user以外の記事のボタンの位置調整の為の、
   同じwidthを持ったダミーの記事編集、削除ボタン */
.dummy-edit{
    width: 47.61px;
}

.dummy-article-delete{
    width: 42.8px;
}

/** 通知機能 **/
.lightcyan{
    background-color: lightcyan;
}
.like_notification {
    width: 70%;
}

/** ページネーション **/
.pagination{
    margin-top: 10px;
    justify-content: center;
}

/** コメント投稿フォーム **/
.comment-form{
    margin-top: 15px;
    height: 130px;
    width: 100%;
    background-color: #EEEEEE;
    display: table;
}

.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.comment-area{
    margin-top: 10px;
    width: 80%;
}

.comment-button{
    margin-right: 20px;
}

/* エラーメッセージ */
.comment-error-messages{
    margin: 10px 0;
}